// Custom
@import "../themes/seagull/sass/_variables"

// Fonts
@import url(/fonts/font-face.css)

// Body
body
    font-family: "Luciole", "Rubik", sans-serif

// links
a:hover
    text-decoration: none

// Nav
nav img
    height: 48px

// menu
ul.menu
    padding-left: 0
    list-style-type: none

ul.menu > li
    margin-bottom: 0.5rem

// Feed
.feed-block
    padding: 1em
    margin-bottom: 1em

// Footer
footer
    font-size: small

// Layout
// small screen
@media (max-width: $breakpoint-small)
    .page
        width: calc(100% - 32px)
        padding: 0 16px

// medium screen
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium)
    .page
        width: 100%
    .page > :where(:not(.alignleft):not(.alignright):not(.alignfull))
        max-width: 620px
        margin-left: auto
        margin-right: auto

// large screen
@media (min-width: $breakpoint-medium)
    .page
        width: 100%
    .page > :where(:not(.alignleft):not(.alignright):not(.alignfull))
        max-width: 800px
        margin-left: auto
        margin-right: auto

// Added classes
.img-homepage
    background-image: url(/images/fauchage_juin_24.jpeg)
    background-size: cover
    background-repeat: no-repeat
    min-height: 280px

.block-columns > .block-column
    flex-basis: 0
    flex-grow: 1
