{% extends "index.html" %}

{% block keywords %}
<meta name="keywords" content="Seagull, Zola, Theme">{% endblock keywords %}

{% block content %}

<div class="page">

    {{ section.content | safe }}

    <div>
        <h2>Prochains événements</h2>
        <div class="">
            {% set events_section = get_section(path="evenements/_index.md") %}
            {% for article in events_section.pages | slice(end=5) -%}
                {% include "event_feed_item.html" %}
            {%- endfor %}
        </div>

    </div>
    <div class="qui">
        <h2>Qui sommes-nous</h2>

        <p>Symbole de la lutte contre l’A69, 
            le jardin maraîcher de l’oignon fait la force
            a débuté lors de la manifestation d’avril 2023.
            Situé sur des lieux emblématiques de la lutte,
            proche de la réserve naturelle du Dicosa près de Castres,
            il a favorisé la rencontre des personnes qui constituent aujourd'hui
            l'oignon fait la force.<br>
            Ce jardin a duré jusqu’à l’hiver 2024.
            </p>
            <div class="img-fixed img-homepage alignfull" style="background-image: url(/images/banner.webp);">
            </div>
        <p>En juin 2024, nous nous installons sur un nouveau terrain
            proche du centre-ville de Soual,
            où repassera un trafic dense si l’A69 est construite un jour.</p>


    </div>
    <div class="oulaa-p1 rejoignez">
        <h2>Rejoignez-nous</h2>
        <p>Vous voulez nous aider à réaliser notre projet ?<br>
            Devenez bénévole et venez mettre les mains dans la terre.</p>
        <p>Notre projet s'inscrit dans la lutte contre l'A69, alors s'impliquer dans la lutte c'est aussi nous
            aider !
        </p>

        <div class="flex block-columns">

            <div class="block-column">

                <div class="oulaa-p1">
                    <p class="center">Devenir bénévole pour les jardins</p>
                    <p class="center">
                        <a class="button button-main" href="mailto:oignonfaitlaforce@proton.me">Contactez-nous !</a>
                    </p>
                </div>
            </div>
            <div class="block-column">

                <div class="oulaa-p1">
                    <p class="center">Découvrir la lutte contre l'A69</p>
                    <p class="center">
                        <a class="button button-main" href="https://lvel.fr" target="_blank">lvel.fr</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}