<footer>
    <ul class="menu social">
        {%- for link in config.extra.social.link -%}
        <li><a rel="me" href="{{link.url}}">
                <img alt="{{link.name}}" class="icon" src="{{link.img}}" /> <span>{{link.name}}</span>
            </a>
        </li>
        {% endfor -%}
    </ul>

    <ul class="menu footer-menu">
        {% for link in config.extra.footer.links %}
        {#- hack to get page or section #}
        {%- if link is ending_with("_index.md") -%}
        {%- set s = get_section(path=link) -%}
        <li><a href="{{ s.permalink }}">{{s.title}}</a></li>
        {%- else -%}
        {%- set p = get_page(path=link) -%}
        <li><a href="{{ p.permalink }}">{{p.title}}</a></li>
        {%- endif -%}
        {% endfor %}
    </ul>

    <div class="credits">
        <p>Site web réalisé avec <a href="https://www.getzola.org/">Zola</a> et le thème <a
                href="https://seagull.coinduf.eu/">seagull theme</a></p>
        <p>© Contenu sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a></p>
    </div>
</footer>