{% extends "index.html" %}

{% block header %}
{% if page.extra.header_image %}
<div class="hero" style="background-image: url({{ page.extra.header_image }}); min-height: 30vh;">
</div>
{% endif %}
{% endblock header %}

{% block content %}
<main class="page">
    {% if page.extra.event_date %}
    <p class="event-desc">
        <span class="date">{{ macros::date(date=page.extra.event_date, format="%A %-d %B") }}</span>
    </p>
    {% endif %}
    {{ macros::replace_toc(resource=page) | safe }}
</main>
{% endblock content %}
